In [1]:
import datetime as dt
import time

In [2]:
# (hours, minutes)
start_time = dt.time(7, 0)

In [3]:
# (year, month, day)
start_date = dt.date(2021, 2, 22)

In [4]:
# create datetime object
start_datetime = dt.datetime.combine(start_date, start_time)
start_datetime

datetime.datetime(2021, 2, 22, 7, 0)

In [5]:
end_time = dt.time(23, 59)
end_date = dt.date(2021, 3, 11)
end_datetime = dt.datetime.combine(end_date, end_time)
end_datetime

datetime.datetime(2021, 3, 11, 23, 59)

In [6]:
# Differences between two datetimes are represented by timedelta objects
timedelta_total = end_datetime - start_datetime

In [7]:
# a timedelta has three values days, seconds, microseconds
timedelta_total

datetime.timedelta(days=17, seconds=61140)

In [8]:
# you can calculate a new datetime by adding a timedelta to a datetime
end_time = start_datetime + timedelta_total
end_time

datetime.datetime(2021, 3, 11, 23, 59)

In [9]:
# add 10 days to a datetime
days10 = start_datetime + dt.timedelta(10)
days10

datetime.datetime(2021, 3, 4, 7, 0)

In [10]:
# simple date arithmetic
# takes account of leap years
# one year from start
year_away = start_datetime + dt.timedelta(365)
year_away

datetime.datetime(2022, 2, 22, 7, 0)

In [11]:
# timestamp - transform a datetime into a floating point referenced to the Unix epoch
# the number of seconds from 1970-01-01 00:00Z
unix_epoch = dt.datetime.timestamp(start_datetime)
unix_epoch

1613977200.0

In [12]:
# and back again
sdt = dt.datetime.fromtimestamp(1564107823)
sdt

datetime.datetime(2019, 7, 26, 3, 23, 43)

In [13]:
# current time in epoch
t = time.time()
t

1613680375.3735697

In [14]:
# as datetime
date_time = dt.datetime.fromtimestamp(t)
date_time

datetime.datetime(2021, 2, 18, 20, 32, 55, 373570)

In [16]:
# formatted
fmt = "%Y-%m-%d %H:%M:%S.%f"
date_time.strftime(fmt)

'2021-02-18 20:32:55.373570'

In [17]:
# weekday 0 = Monday
weekday_number = start_datetime.date().weekday()
weekday_number

0

In [18]:
# converting datetime to and from strings
new_datetime = dt.datetime.strptime('2018-05-07', '%Y-%m-%d')
new_datetime

datetime.datetime(2018, 5, 7, 0, 0)

In [19]:
datestr = new_datetime.strftime('%Y-%m-%d')
print(datestr)

2018-05-07

In [20]:
datestr = new_datetime.strftime('%d %b %Y')
print(datestr)

07 May 2018

In [21]:
datestr = new_datetime.strftime('%c')
print(datestr)

Mon May  7 00:00:00 2018

In [22]:
# lots of possibilities with Python's strftime directives
# http://strftime.org/
# https://pyformat.info/
now = dt.datetime.now()
nowstr = now.strftime('%c Week %W Day %j')
print(nowstr)

Thu Feb 18 20:34:18 2021 Week 07 Day 049

In [23]:
# convert datetime to epoch
dt_fmt = '%Y-%m-%dT%H:%M:%S.%f'
start_dt = '2020-02-01T10:00:00.0'
start_dto = dt.datetime.strptime(start_dt, dt_fmt)
start_epoch = dt.datetime.timestamp(start_dto)
start_epoch

1580551200.0

In [24]:
type(start_epoch)

float

In [25]:
stop_dt = '2020-02-01T12:45:00.0'
stop_dto = dt.datetime.strptime(stop_dt, dt_fmt)
stop_epoch = dt.datetime.timestamp(stop_dto)
stop_epoch

1580561100.0

In [26]:
# Check if a timestamp is within range
tstamps = [1580551200.0, 1580561100.0, 1580551230.8, 1580551000.9, 1580556300.0, 1580570200.0]
for ts in tstamps:
    relative_to_start = ts - start_epoch
    relative_to_stop = stop_epoch - ts
    if start_epoch <= ts <= stop_epoch:    # !!! The test !!! 
        print(f"{ts} : In Range; {relative_to_start}s after start, {relative_to_stop}s before end.")
    else:
        if ts < start_epoch:
            print(f"{ts} : Before Start; {relative_to_start*-1}s early.")
        else:
            print(f"{ts} : After Stop; {relative_to_stop*-1}s late.")

1580551200.0 : In Range; 0.0s after start, 9900.0s before end.
1580561100.0 : In Range; 9900.0s after start, 0.0s before end.
1580551230.8 : In Range; 30.799999952316284s after start, 9869.200000047684s before end.
1580551000.9 : Before Start; 199.09999990463257s early.
1580556300.0 : In Range; 5100.0s after start, 4800.0s before end.
1580570200.0 : After Stop; 9100.0s late.

In [28]:
work_day_beg = dt.time(8)
work_day_end = dt.time(19, 59, 59)

In [29]:
print(work_day_beg)

08:00:00

In [30]:
print(work_day_end)

19:59:59

In [34]:
#timedelta only works for datetime objects
dt.timedelta(work_day_end - work_day_start)

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'

In [38]:
def time_difference(time_start, time_end):
    '''Calculate the difference between two times on the same date.

    Args:
        time_start: the time to use as a starting point
        time_end: the time to use as an end point

    Returns:
        the difference between time_start and time_end. For example:

        >>> time_difference('1500', '1600')
        60

        >>> time_difference('1100', '1310')
        130
    '''

    start = dt.datetime.strptime(time_start, "%H%M%S")
    end = dt.datetime.strptime(time_end, "%H%M%S")
    difference = end - start
    minutes = difference.total_seconds() / 60
    return int(minutes)

In [40]:
time_difference('080000', '195959')

ValueError: unconverted data remains: 00